.side-nav-menu{
    display: block;
    position: absolute;
    align-items: center;
    margin-left: 0;
    padding:0;
    width: 60vw;
    height: 100vh;
    top:0;
    background: #f9f9f9;
    z-index: 999;
}

.nav-menu{
    display: flex;
    align-items: center;
    margin-right: -24px;
    @media screen and (max-width: 768px) {
        display: none;
    }
}