
.headline1{
    font-family: "AvenirNext";
    font-weight: 500;
    text-transform: none;
    line-height: normal;
    color: #181821;
    display: block;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    font-size: 42px;
}

.headline2{
    font-family: "AvenirNext";
    font-weight: 500;
    text-transform: none;
    line-height: normal;
    color: #181821;
    display: block;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    font-size: 38px;
}

.headline3{
    font-family: "AvenirNext";
    font-weight: 500;
    text-transform: none;
    line-height: normal;
    color: #181821;
    display: block;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    font-size: 34px;
}

.headline4{
    font-family: "AvenirNext";
    font-weight: 500;
    text-transform: none;
    line-height: normal;
    color: #181821;
    display: block;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    font-size: 30px;
}

.headline5{
    font-family: "AvenirNext";
    font-weight: 500;
    text-transform: none;
    line-height: normal;
    color: #181821;
    display: block;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    font-size: 26px;
}

.headline6{
    font-family: "AvenirNext";
    font-weight: 500;
    text-transform: none;
    line-height: normal;
    color: #181821;
    display: block;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    font-size: 22px;
}

.subtitle1{
    font-family: "AvenirNext";
    font-weight: 400;
    font-size: 1.2rem;
    color: #1f1f21;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

.subtitle2{
    font-family: "AvenirNext";
    font-weight: 400;
    font-size: 1rem;
    color: #1f1f21;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

.subtitle3{
    font-family: "AvenirNext";
    font-weight: 400;
    font-size: 0.8rem;
    color: #1f1f21;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}