.star-rating-display{
    cursor: pointer;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .star{
        margin-right: 5px;
        text-align: left;
        font-size: 1.3rem;
        line-height: 1;
    }
}